@font-face {
  font-family: "Ubuntu";
  src: url('./assets/fonts/UbuntuRegular.woff2') format("woff2");
  font-weight: 400;
  font-display: swap;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f2f2f2;
}
:root {
  --font-family: "Ubuntu", sans-serif;
  --content-width: 1260px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --light-color: #fff;
  --color-gray: rgba(66,69,81,1);
  --color-storm: #787a80;
  --color-ebony: #1e212c;
  --color-white: #fff;
  --color-primary: #ff5a30;
  --color-athens: #f4f5f7;

  --main-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.21);

  --grid-gap: 30px;
}
  
::-webkit-scrollbar {
  width: 10px;
}
 
::-webkit-scrollbar-track {
  color: transparent;
  border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
  
*,
*::before,
*::after {
  box-sizing: inherit;
}
  
.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}
.content {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80vw;
  height: 90vh;
  background-color: rgba(256, 256, 256, 0.7);
  border: none;
  box-shadow: var(--main-shadow);
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 5px;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input {
  padding: 10px 25px;
  border-radius: 20px;
  box-shadow: var(--main-shadow);
  border: none;
}
.item__input {
  grid-column: 9 span;
}
.header__input{
  width: 200px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn {
  font-family: "Ubuntu", sans-serif;
  border-radius: 20px;
  border: none;
  background: linear-gradient(to left bottom, #c408b1 0%,#2e07f5 100%);
  padding: 11px 20px;
  color: white;
  box-shadow: var(--main-shadow);
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}
.header__btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -2px;
}

.main__item{
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}
.item__checkbox {
  display: block;
  grid-column: 1 span;
}
input {
  font-family: "Ubuntu", sans-serif;
  outline: none;
}
.checkbox {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

input:focus{
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.41);
}

.item__title {
  display: block;
  grid-column: 9 span;
}

.item__delete {
  grid-column: 2 span;
}

.btn:hover {
  box-shadow: inset 0px 0px 20px rgba(255,255,255, 0.9), 0 0 10px 5px rgba(0, 0, 0, 0.11);
  background-color: white;
  color: linear-gradient(to left bottom, #c408b1 0%,#2e07f5 100%);
}
svg:hover {
  fill: linear-gradient(to left bottom, #c408b1 0%,#2e07f5 100%);
}
.btn:focus {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.41);
}

.hidden {
  display: none;
}
.main__item {
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--color-white);
  box-shadow: var(--main-shadow);
}

@media screen and (max-width: 830px) {
  .grid {
    gap:10px;
  }
  .header > .container {
      flex-direction: column;
  }
  .header__input{
      width:100%;
      border-radius: 20px;
      margin-bottom: 10px;
  }
  .header__btn {
    margin: 0; 
    width: 100%;
    border-radius: 20px;
  }
}
@media screen and (max-width: 576px) {
  .content {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
